/* For Part 2 of Light Challenge


.toggle {
  position: relative;
}

.toggle input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle .onoff {
  color: #fff;
  font-size: 6em;
  text-align: center;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
}

.slider {
  position: relative;
  display: block;
  cursor: pointer;
  background-color: #333;
  transition: 0.4s;
  width: 200px;
  height: 120px;
}

.slider:before {
  content: "";
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: #fff;
  transition: 0.4s;
  top: 10px;
  left: 10px;
}

input:checked + .slider {
  background-color: #fd5d00;
  box-shadow: 0 0 12px #fd5d00;
}

input:checked + .slider:before {
  transform: translateX(80px);
}

.slider.round {
  border-radius: 20px;
}
.slider.round::before {
  border-radius: 20px;
} */
